<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{% block title '' %} - Concurso Escolar de Programación 2014</title>

{% block css %} {% endblock %}

</head>
<body class="pull_top">
{% block content %}
{% endblock %}
</body>
</html>
